In [5]:
import pandas as pd
df_excel = pd.read_excel('/content/sangeeta (2).xlsx')
print(df_excel)

      Roll  Mathematics Physics Chemistry Biology Total marks Unnamed: 6  \
0        34          95      68        71      84         318        NaN
1        25          64      79        90      76         309        NaN
2        19          82      73        80      69         304        NaN
3        17          91      80        68      71         310        NaN
4         3          75      75        82      61         293        NaN
5       NaN         NaN     NaN       NaN     NaN         NaN        NaN
6       NaN         NaN     NaN       NaN     NaN         NaN        NaN
7       NaN         NaN     NaN       NaN     NaN         NaN        NaN
8       NaN         NaN     NaN       NaN     NaN         NaN        NaN
9       NaN         NaN     NaN       NaN     NaN         NaN        NaN
10      NaN         NaN     NaN       NaN     NaN         NaN        NaN
11      NaN         NaN     NaN       NaN     NaN         NaN      Ans 1
12     Name       Phone   Floor      Dept  Design      Salary        NaN
13     Neha      683216       2      Bill      SA       18000          2
14     Arun      658545       3       Trg     TSA       15000        NaN
15    Viney      698965       1      Bill      JD       22000          1
16  Ashwita      703265       4       Adm     PSA       18000        NaN
17    Amrit      874565       2       Adm      JD       22000        NaN

   Unnamed: 7 Unnamed: 8    Unnamed: 9   Unnamed: 10
0         NaN        NaN           NaN           NaN
1         NaN        NaN           NaN           NaN
2         NaN        NaN           NaN           NaN
3         NaN        NaN           NaN           NaN
4         NaN        NaN           NaN           NaN
5         NaN        NaN           NaN           NaN
6         NaN        NaN           NaN           NaN
7         NaN        NaN           NaN           NaN
8         NaN        NaN           NaN           NaN
9         NaN        NaN           NaN           NaN
10        NaN        NaN           NaN           NaN
11      Ans 2      Ans 3         Ans 4         Ans 5
12  Neha Bill        NaN           NaN   Neha 683216
13        NaN      Arun3   Neha 683216           NaN
14        NaN        NaN           NaN           NaN
15        NaN        NaN           NaN           NaN
16        NaN        NaN           NaN  Amrit 874565
17        NaN        NaN  Amrit 874565           NaN